---
interface Props {
	title: string;
	overTitle?: string;
	overType?: string;
    class?: string;
}

const { title, overTitle, overType = 'primary', class: className } = Astro.props;
---

<div class={className}>
    {overTitle && <p class:list={[{[overType]: true}]}>{overTitle}</p>}
    <h3>{title}</h3>
</div>

<style lang="scss">
h3 {
    font-size: var(--fs-2);
    font-weight: var(--weight-medium);
}

p {
    font-size: var(--fs-4);
    margin-bottom: var(--space-3);
    line-height: 1;

    &.primary {
        color: var(--accent-text-color);
    }

    &.secondary {
        color: var(--accent-secondary-text-color);
    }
}
</style>