---
import Navbar from "../molecules/Navbar.astro";
---

<header>
    <div class="container">
        <a href="/" class="logo">Edie</a>
        <Navbar />
    </div>
</header>

<style lang="scss">
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: var(--weight-extra-bold);
    font-size: var(--fs-2);
    color: var(--primary-text-color);

    &:hover {
        color: var(--hover-text-color);
    }
}
</style>